In [5]:
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
df = pd.DataFrame({
    'idcolision':[1,2,3],
    'f1':['A','X','M'],
    'f2':['B','A','N'],
    'f3':['A','Z','A'],
})
df

   idcolision f1 f2 f3
0           1  A  B  A
1           2  X  A  Z
2           3  M  N  A

In [9]:
df2 = pd.DataFrame(columns=['idcolision', 'Factor'])
df2

Empty DataFrame
Columns: [idcolision, Factor]
Index: []

In [10]:
dfTemp = df[['idcolision','f1']]
dfTemp= dfTemp.rename(columns = {'f1':'Factor'})
df2 = dfTemp

dfTemp = df[['idcolision','f2']]
dfTemp= dfTemp.rename(columns = {'f2':'Factor'})
df2= pd.concat([df2, dfTemp])

dfTemp = df[['idcolision','f3']]
dfTemp= dfTemp.rename(columns = {'f3':'Factor'})
df2=pd.concat([df2, dfTemp]).reset_index()

df2= df2.drop(columns=['index'])
df2= df2.drop_duplicates()
df2

   idcolision Factor
0           1      A
1           2      X
2           3      M
3           1      B
4           2      A
5           3      N
7           2      Z
8           3      A