In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame({
    'idcolision':[1,2,3],
    'f1':['A','X','M'],
    'f2':['B','A','N'],
    'f3':['A','Z','A'],
})
df

   idcolision f1 f2 f3
0           1  A  B  A
1           2  X  A  Z
2           3  M  N  A

In [3]:
df2 = pd.DataFrame(columns=['idcolision', 'Factor'])
df2

Empty DataFrame
Columns: [idcolision, Factor]
Index: []

In [4]:
dfTemp = df[['idcolision','f1']]
dfTemp= dfTemp.rename(columns = {'f1':'Factor'})
df2 = dfTemp
df2

   idcolision Factor
0           1      A
1           2      X
2           3      M

In [5]:
dfTemp = df[['idcolision','f2']]
dfTemp= dfTemp.rename(columns = {'f2':'Factor'})
df2= pd.concat([df2, dfTemp])
df2

   idcolision Factor
0           1      A
1           2      X
2           3      M
0           1      B
1           2      A
2           3      N

In [6]:
dfTemp = df[['idcolision','f3']]
dfTemp= dfTemp.rename(columns = {'f3':'Factor'})
df2=pd.concat([df2, dfTemp]).reset_index()
df2

   index  idcolision Factor
0      0           1      A
1      1           2      X
2      2           3      M
3      0           1      B
4      1           2      A
5      2           3      N
6      0           1      A
7      1           2      Z
8      2           3      A

In [7]:
df2= df2.drop(columns=['index'])
df2= df2.drop_duplicates()
df2

   idcolision Factor
0           1      A
1           2      X
2           3      M
3           1      B
4           2      A
5           3      N
7           2      Z
8           3      A